.fprag {
    border: 10px;
    padding: 20px;
    margin: 50px;
}
.fprag , .sprag {
    color: rgb(175, 175, 30);
   
}
.clphoto {
    background-image: url(../images/images.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: stretch;
}
h2.first {
    color: red;
}
h2.second {
    color: green;
}